In [18]:
import pandas as pd
import numpy as np

In [19]:
df17=pd.read_csv("143_202203_2017yanginsayisi.csv",sep=";")
df18=pd.read_csv("143_202203_2018yanginsayisi.csv",sep=";")
df19=pd.read_csv("143_202203_2019yanginsayisi.csv",sep=";")
df20=pd.read_csv("143_202203_2020yanginsayisi.csv",sep=";")
df21=pd.read_csv("143_202203_2021yanginsayisi.csv",sep=";")

In [20]:
column_names17 = df17.columns.tolist()
column_names18 = df18.columns.tolist()
column_names19 = df19.columns.tolist()
column_names20 = df20.columns.tolist()
column_names21 = df21.columns.tolist()

hepsi=[column_names17,column_names18,column_names19,column_names20,column_names21]

In [21]:
hepsi

[['ilceler', 'ahsap', 'karkas', 'beton', 'celik', 'diger', 'toplam'],
 ['ilceler', 'ahsap', 'karkas', 'beton', 'celik', 'diger', 'toplam'],
 ['ilceler', 'ahsap', 'karkas', 'beton', 'celik', 'diger', 'toplam'],
 ['ilceler', 'ahsap', 'karkas', 'beton', 'celik', 'diger', 'toplam'],
 ['ilceler', 'ahsap', 'karkas', 'beton', 'celik', 'diger', 'toplam']]

In [22]:
for x in range(6):
    if column_names17[x]==column_names18[x] and column_names17[x]==column_names19[x]:

        

            if column_names17[x]==column_names20[x] and column_names17[x]==column_names21[x]:

                
                print("aynı")
            else:
                    print("a")
        
    else:
        print("a")

aynı
aynı
aynı
aynı
aynı
aynı

In [23]:
df17

       ilceler  ahsap  karkas  beton  celik  diger  toplam
0     SELÇUKLU     10       0    129      0    665     804
1        MERAM     75       0     99      2    341     517
2      KARATAY    109       0     79      1    421     610
3       SANCAK      0       0      0      0      0       0
4       AKÖREN      6       1      1      0     27      35
5      AKŞEHİR     57      20     21      0    430     528
6    ALTINEKİN      0       0      3      0     68      71
7     BEYŞEHİR     33       9     18      1    344     405
8       BOZKIR      2       1      7      0     31      41
9   CİHANBEYLİ      0      27      6      0     69     102
10      ÇELTİK      3       0      0      0     92      95
11       ÇUMRA      1       3     11      0    196     211
12     DERBENT      7       1      0      0     29      37
13   DEREBUCAK      0       0      1      0     13      14
14  DOĞANHİSAR     18       0      0      1    130     149
15    EMİRGAZİ     12       2      0      0     18      32
16      EREĞLİ     95       2     42      0    311     450
17  GÜNEYSINIR      6       4      5      1     30      46
18       HADİM     11       0      3      0     33      47
19       HÜYÜK      0       0      1      0    119     120
20       ILGIN     22      11     16      2    210     261
21   KADINHANI     45       2      2      1    197     247
22   KARAPINAR      4       3     10      0    155     172
23        KULU      0       0     37      0    203     240
24    SARAYÖNÜ      0       0      7      0    125     132
25  SEYDİŞEHİR     24      12      9      0    226     271
26     TAŞKENT      2       1      0      0     10      13
27   YALIHÜYÜK     12       1      3      0     39      55
28       YUNAK      0       1      2      0    140     143

In [24]:

for x in df17["ilceler"].index:
    if df17["ilceler"][x]==df18["ilceler"][x] and df17["ilceler"][x]==df19["ilceler"][x]:
        if df17["ilceler"][x]==df20["ilceler"][x] and df17["ilceler"][x]==df21["ilceler"][x]:
            print("aynı")
    else:
        print("farklı")

aynı
aynı
aynı
aynı
aynı
aynı
aynı
aynı
aynı
aynı
aynı
aynı
aynı
aynı
aynı
aynı
aynı
aynı
aynı
aynı
aynı
aynı
aynı
aynı
aynı
aynı
aynı
aynı
aynı

In [25]:
x

28

In [26]:
summ17= np.sum(df17, axis=1)
summ17=summ17 - df17["toplam"]


summ18= np.sum(df18, axis=1)
summ18=summ18 - df18["toplam"]


summ19= np.sum(df19, axis=1)
summ19=summ19 - df19["toplam"]


summ20= np.sum(df20, axis=1)
summ20=summ20 - df20["toplam"]


summ21= np.sum(df21, axis=1)
summ21=summ21 - df21["toplam"]

C:\Users\User\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\numpy\core\fromnumeric.py:84: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return reduction(axis=axis, out=out, **passkwargs)

In [27]:
tplm=df17["toplam"]
iii=0
rr=0
for x in tplm.index:
    if summ17[x]!=tplm[x]:
        print("a")
    else:
        iii=1
        rr+=1
if iii==1:
    print("True")

True

In [28]:
x

28

In [29]:
tplm=df18["toplam"]
iii=0
for x in tplm.index:
    if summ18[x]!=tplm[x]:
        print("a")
    else:
        iii=1

if iii==1:
    print("True")

True

In [30]:
tplm=df19["toplam"]
iii=0
for x in tplm.index:
    if summ19[x]!=tplm[x]:
        print("a")
    else:
        iii=1

if iii==1:
    print("True")

True

In [31]:
tplm=df20["toplam"]
iii=0
for x in tplm.index:
    if summ20[x]!=tplm[x]:
        print("a")
    else:
        iii=1

if iii==1:
    print("True")

True

In [32]:
tplm=df21["toplam"]
iii=0
for x in tplm.index:
    if summ21[x]!=tplm[x]:
        print("a")
    else:
        iii=1

if iii==1:
    print("True")

True

In [38]:
df21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ilceler  29 non-null     object
 1   ahsap    29 non-null     int64
 2   karkas   29 non-null     int64
 3   beton    29 non-null     int64
 4   celik    29 non-null     int64
 5   diger    29 non-null     int64
 6   toplam   29 non-null     int64
dtypes: int64(6), object(1)
memory usage: 1.7+ KB

In [43]:
type(df21["ilceler"][0])

str

In [34]:
df17.to_csv("bina_tipine_gore_cikan_yangin_sayisi_istatistikleri_2017.csv",header=True ,index=False)
df17.to_excel("bina_tipine_gore_cikan_yangin_sayisi_istatistikleri_2017.xlsx",header=True ,index=False)

df18.to_csv("bina_tipine_gore_cikan_yangin_sayisi_istatistikleri_2018.csv",header=True ,index=False)
df18.to_excel("bina_tipine_gore_cikan_yangin_sayisi_istatistikleri_2018.xlsx",header=True ,index=False)

df19.to_csv("bina_tipine_gore_cikan_yangin_sayisi_istatistikleri_2019.csv",header=True ,index=False)
df19.to_excel("bina_tipine_gore_cikan_yangin_sayisi_istatistikleri_2019.xlsx",header=True ,index=False)

df20.to_csv("bina_tipine_gore_cikan_yangin_sayisi_istatistikleri_2020.csv",header=True ,index=False)
df20.to_excel("bina_tipine_gore_cikan_yangin_sayisi_istatistikleri_2020.xlsx",header=True ,index=False)

df21.to_csv("bina_tipine_gore_cikan_yangin_sayisi_istatistikleri_2021.csv",header=True ,index=False)
df21.to_excel("bina_tipine_gore_cikan_yangin_sayisi_istatistikleri_2021.xlsx",header=True ,index=False)