In [120]:
import pandas as pd

In [121]:
df=pd.read_csv("elkart_binis_2019.csv")

In [122]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886722 entries, 0 to 886721
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   tarih_saat    886722 non-null  object
 1   hat_no        886722 non-null  int64
 2   alt_hat_no    886722 non-null  int64
 3   binis_sayisi  886722 non-null  int64
dtypes: int64(3), object(1)
memory usage: 27.1+ MB

In [123]:
df["tarih_saat"]=pd.to_datetime(df["tarih_saat"])

In [124]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886722 entries, 0 to 886721
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   tarih_saat    886722 non-null  datetime64[ns]
 1   hat_no        886722 non-null  int64
 2   alt_hat_no    886722 non-null  int64
 3   binis_sayisi  886722 non-null  int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 27.1 MB

In [125]:
df

                tarih_saat  hat_no  alt_hat_no  binis_sayisi
0      2019-01-01 00:00:00       1           0            53
1      2019-01-01 06:00:00       1           0             9
2      2019-01-01 07:00:00       1           0            59
3      2019-01-01 08:00:00       1           0            49
4      2019-01-01 09:00:00       1           0            85
...                    ...     ...         ...           ...
886717 2019-12-31 19:00:00      99           0            47
886718 2019-12-31 20:00:00      99           0            13
886719 2019-12-31 21:00:00      99           0            13
886720 2019-12-31 22:00:00      99           0             4
886721 2019-12-31 23:00:00      99           0            17

[886722 rows x 4 columns]

In [126]:
import locale
import datetime

In [127]:
locale.setlocale(locale.LC_ALL, '')

'Turkish_Turkey.1254'

In [128]:
df["ay"]=df["tarih_saat"]

In [109]:
ay_yil = pd.to_datetime(df["tarih_saat"][0] , format='%Y-%m')

In [110]:
type(ay_yil)

pandas._libs.tslibs.timestamps.Timestamp

In [111]:
ay_yil

Timestamp('2019-01-01 00:00:00')

In [112]:
ay_yil = pd.Period(df["tarih_saat"][0], freq='M')

In [113]:
ay_yil

Period('2019-01', 'M')

In [114]:
type(ay_yil)

pandas._libs.tslibs.period.Period

In [93]:
for x in df["tarih_saat"].index:
    df["ay"][x]=pd.Period(df["tarih_saat"][x], freq='M')

In [94]:
df

                tarih_saat  hat_no  alt_hat_no  binis_sayisi       ay
0      2019-01-01 00:00:00       1           0            53  2019-01
1      2019-01-01 06:00:00       1           0             9  2019-01
2      2019-01-01 07:00:00       1           0            59  2019-01
3      2019-01-01 08:00:00       1           0            49  2019-01
4      2019-01-01 09:00:00       1           0            85  2019-01
...                    ...     ...         ...           ...      ...
886717 2019-12-31 19:00:00      99           0            47  2019-12
886718 2019-12-31 20:00:00      99           0            13  2019-12
886719 2019-12-31 21:00:00      99           0            13  2019-12
886720 2019-12-31 22:00:00      99           0             4  2019-12
886721 2019-12-31 23:00:00      99           0            17  2019-12

[886722 rows x 5 columns]

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886722 entries, 0 to 886721
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   tarih_saat    886722 non-null  datetime64[ns]
 1   hat_no        886722 non-null  int64
 2   alt_hat_no    886722 non-null  int64
 3   binis_sayisi  886722 non-null  int64
 4   ay            886722 non-null  object
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 33.8+ MB

In [96]:
type(df["ay"][0])

pandas._libs.tslibs.period.Period

In [129]:
df["ay"]=df["ay"].astype("str")

In [116]:
for x in df["tarih_saat"].index:
    df["ay"][x]=df["ay"][x].astype("str")

AttributeError: 'str' object has no attribute 'astype'

In [118]:
for x in df["tarih_saat"].index:
    df["ay"][x]=df["ay"][x].apply(lambda x: pd.Period(x, freq='M'))

AttributeError: 'str' object has no attribute 'apply'

In [130]:
df["ay"]=df["ay"].apply(lambda x: pd.Period(x, freq='M'))

In [132]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886722 entries, 0 to 886721
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   tarih_saat    886722 non-null  datetime64[ns]
 1   hat_no        886722 non-null  int64
 2   alt_hat_no    886722 non-null  int64
 3   binis_sayisi  886722 non-null  int64
 4   ay            886722 non-null  period[M]
dtypes: datetime64[ns](1), int64(3), period[M](1)
memory usage: 33.8 MB

In [75]:
y="2023-01"
y=y.apply(lambda x: pd.Period(x, freq='M'))

AttributeError: 'str' object has no attribute 'apply'

In [73]:
veriler = pd.DataFrame({
    'Ay': ['2023-01', '2023-02', '2023-03', '2023-04'],  # Ã–rnek aylÄ±k veriler
    'ToplamKisi': [100, 150, 200, 180]  # Ã–rnek aylÄ±k toplam kiÅŸi sayÄ±larÄ±
})

In [74]:
type(veriler["Ay"][0])

str

In [70]:
veriler['Ay'] = veriler['Ay'].apply(lambda x: pd.Period(x, freq='M'))

print(veriler)

        Ay  ToplamKisi
0  2023-01         100
1  2023-02         150
2  2023-03         200
3  2023-04         180

In [71]:
type(veriler["Ay"][0])

pandas._libs.tslibs.period.Period

In [72]:
veriler.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Ay          4 non-null      period[M]
 1   ToplamKisi  4 non-null      int64
dtypes: int64(1), period[M](1)
memory usage: 196.0 bytes